/* Sidebar Menü Stilleri */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #41658a;
    padding-top: 20px;
    z-index: 1;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a i {
    margin-right: 10px; /* İkon ile metin arasına boşluk ekleyelim */
}

.sidebar a:hover {
    background-color: #d1d5d9;
    border-radius: 5px;
}

.sidebar .active {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

/* İçerik Alanı */
.content {
    margin-left: 260px;
    padding: 20px;
}
